h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 200px;
    font-weight: 900;
    float: right;
    position: absolute;
    top: 0%;
    right: 0;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 200px;
    font-weight: 900;
    color: white;
    position: absolute;
    top: 0%;
}

html, body {
    min-height: 100%;
}


body{
    background-image: url("../images/King\ Yna.jpg");
}

#music {
    background-color: black;
    height: 100%;
    width: 50%;
    position: relative;

}

#mood {
    height: 100%;
    width: 50%;
    position: relative;
}

nav {
    background-color: transparent;
}

#nav-mobile {
    opacity: .7;
}

.material-icons {
    font-size: 40px;
    color: white;
    opacity: .7;
}

.music {
    background: linear-gradient(to bottom, #1a2a6c 20%,  #b21f1f 50%, #fdbb2d 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.sidenav {
    background-color: black;
    opacity: .5;
}

#upload {
    color: white;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

#favorites {
    color:white;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

#about {
    color: white;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

#home {
    color: white;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

#slogan1{
    color: black;
    position: absolute;
    top: 50%;
    font-size: 20px;
    letter-spacing: 10px;
    right: 0;
    font-weight: 700;
}

#slogan2 {
    color: white;
    position: absolute;
    top: 50%;
    font-size: 20px;
    letter-spacing: 10px;
}

nav {
    height: 1%;
}

#login {
    float: right;
    margin-right: 5px;
    color: white;
    margin-top: 5px;
    margin-right: 10px;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 10px;
    opacity: .7;
}