h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 200px;
    font-weight: 900;
    top: 0%;
    right: 0;
}
#index h1 {
    color:white;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 200px;
    font-weight: 900;
    color: white;
    top: 0%;
}

html, body {
    min-height: 100%;
}

#index-container {
    height:100%;
}

#index{
    background: #1E9600;  /* fallback for old browsers */
background: -webkit-linear-gradient(45deg, #FF0000, #FFF200, #1E9600); 
background: linear-gradient(45deg, #FF0000, #FFF200, #1E9600); 

}
#bg-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    z-index: -1;
}

#bg-right {
    background-color: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    z-index: -1;
}

#mood-P {
    margin:0 auto;
    padding-top:100px;
    padding-left:5px;
    font-size:17vw;
    color:#000;
    top:40%;
}

 #music-P {
    margin: 0 auto;
    padding-top:100px;
    padding-right:20px;
    font-size: 17vw;
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF0080, #FF8C00, #40E0D0, #FFF200);  
    background: linear-gradient(to left, #FF0080, #FF8C00, #40E0D0, #FFF200); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 } 
#slogan-left {
    margin: 0 auto;
    padding-bottom:150px;
    padding-left:5px;
    position:absolute;
    top: 60%;
    left:60%;
    font-size: 1.7vw;
    color:#000'
}
#slogan-right {
    margin:0 auto;
    padding-bottom:150px;
    padding-right: 5px;
    position:absolute;
    top: 60%;
    right:53%;
    font-size: 1.7vw;
    color: #fff;
}


nav {
    background-color: black;;
}

#nav-mobile {
    opacity: .7;
}

.material-icons {
    font-size: 40px;
    color: white;
    opacity: .7;
}



.music {
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.sidenav {
    background-color: black;
    opacity: .8;
}


#upload, #favorites, #about, #home, #log_in {
    color: white;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

nav {
    height: 1%;
}

#profilepic {
    width:30px;
    height:30px;
    float:right;
    z-index: 15;
}

#login {
    float: right;
    margin-right: 5px;
    color: white;
    margin-right: 10px;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 10px;
    opacity: .7;
}

#about-body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/*Upload Page Css*/

#upload-body {
    color:#fff;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #1CFF1B,#FF5128, #0575E6, #f5af19, #ee0979, #00F260); 
    background: -webkit-linear-gradient(-45deg, #1CFF1B,#FF5128, #0575E6, #f5af19, #ee0979, #00F260);  
    background-size: 500% 500%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite; 
}
    @-webkit-keyframes Gradient {
        0% {
          background-position: 0% 50%; }
        50% {
          background-position: 100% 50%; }
        100% {
          background-position: 0% 50%; } }


#upload-text {
    font-size: 60px;
    padding-left: 28%;
}

#upload-slogan {
    font-size: 14px;
}

#video {
    margin: 0 auto;
    width:480; 
    height: 340;
}

#canvas {
    display:none;
    width: 480; 
    height: 340;
}

#previewImg {
    align:center;
    margin:0 auto; 
    width:300px;
    height:300px;
}

#startBtn, #snapBtn, #favoriteBtn {
background-color: #000;
margin-right: 10px;
margin-bottom: 5px;
font-family: "Roboto Condensed", sans-serif;
}

#analyze {
    color: black;
    border: solid 2px black;
    padding: 5px;
    margin-right: 10px;
    font-size: 18px;
}

#selfieImg {
    width: 480; 
    height: 340;
    margin: 0 auto;
}

#imgUpload {
    margin-left: 250px;
    margin-bottom: 5px;
}

#mood-Gif {
    width: 150px;
    height: 150px;
}

#results {
    font-family: 'Open Sans', sans-serif;
    padding-top: 48px;
    font-size: 24px;

}

#results-text {
    font-size: 60px;
    padding-left: 13%;
}

p, #imageDiv {
    letter-spacing: 5px;
    font-family: "Roboto Condensed", sans-serif;
}

#upload-space {
    font-size: 25px;
}

#genre-select {
    padding-left: 17%;

}

#genre {
    background-color: #000;
    width: 150%;
}

#genreLabel {
    font-size: 16px;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: white !important;
     background-color: black !important;
     font-family: 'Roboto Condensed', sans-serif;
 }

/*Favorites Page Css */
#favorites-header {
    color:#fff;
    font-size:4vw;
}
#favorites-slogan p {
    font-size:2vw;
}
#favorites-table th{
    font-size: 2vw;
}
#favorites-body {
    font-family: 'Open Sans', sans-serif;
        color: white;
        background: #40E0D0;
        background: -webkit-linear-gradient(-45deg, #1E9600, #FFF200, #FF0080, #FF8C00, #40E0D0);
        background: linear-gradient(-45deg, #1E9600, #FFF200,#FF0080, #FF8C00, #40E0D0);
        background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite; 

        
    height:100%;
}

@-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%; }
    50% {
      background-position: 100% 50%; }
    100% {
      background-position: 0% 50%; } 
}


.trash-btn {
        background-color:black;
       border-radius: 8px;
        display:inline-block;
        margin-right:5px;
        margin-left: 2px;
}
    
.playlist {
        margin-bottom: 5px;
}


#favoritegif{
    width:100px;
    height:85px;
    margin-right: 5px;
}

/*About Page Css */

#about-gradient {
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF0080, #FF8C00, #40E0D0);  
    background: linear-gradient(to left, #FF0080, #FF8C00, #40E0D0); 
    height:100%;
    -webkit-clip-path: polygon(0 47%, 0% 100%, 100% 11%);
    clip-path: polygon(0 47%, 0% 100%, 100% 11%);
}
#about h2 {
    color:white;
    
}

.container {
    width: 50%;
    float: right;
    text-align: center;
    position: relative;
}

/*Modal Css*/
#modal1 {
    width:500px;
    height:700px;
    z-index:10;

}

#modal1 h3 {
    color: #000;
}

#modal2 {
    width:500px;
    height:700px;
    z-index:10;
}

#modal3 {
    width:500px;
    height:400px;
    z-index:10;
}

#modal4 {
    display:none;
    width:500px;
    height:400px;
    z-index:11;
}

#logsymb2 {
    position:relative;
    left:80%;
    width:auto;
    display:inline-block;
    height:40px;
    align-content:center;
    border: 2px solid black;
    z-index:5;
}

.modal .modal-content{
    padding-bottom:0px;
    height:auto;
}

#form{
    margin-bottom:0;
}

#close{
    float:right;
    width:40px;
    height:40px;

}

#Submit {
    margin-right:10px;
}

#Logout {
    color: white;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    cursor:pointer;
    display:none;
}

#CreateAccount{
    float:left;
    color:#000;
}

.modal-footer {
    
    position:relative;
    bottom: 20px;
}



#genre-select input {
    color: #fff;
}

#modal, #modal2, #modal3, input {
    color:#000;
}
#modal2, #modal2, #modal3, h3 {
    color:#000;
}

#password, #email {
    color:#000;
}

/*In progress media queries for responsiveness*/
@media screen and (max-width: 980px) {

    .container {
       width: 50%;
   }
}
   
@media screen and (max-width: 890px) {
    
    .container {
        width: 100%;
        float: none;
    }
    #canvas {
        width: 300px;
        height: 300px;
        padding-left: 0;
    }
    #previewImg {
        width: 300px;
        height:300px;
        padding-left:20px
    }
    #imgUpload {
        padding-left: 40px;
        margin-bottom: 5px;
    }
    #genre-select {
        padding-left:22%;
    }

}
   
   @media screen and (max-width: 640px) {
    .container {
        width: 100%;
        float: none;
    }
    #genre-select {
       padding-right: 200px;
    }
    #imgUpload {
        width:200px;
        margin: 0 auto;
    }
    #results {
        float:right;
        clear: both;
    }
    #upload-space {
        float:left;
    }
    #upload-text {
        padding-right: 25px;
    }
    #analyze{
        float:left;
        font-size: 14;
    }
    #iframe {
        width:200px;
        padding-left:20px;
    }
    #previewImg {
        width: 250px;
        height:250px;
        padding-left:20px
    }
    #imgUpload {
        margin-left: 250px;
        margin-bottom: 5px;
    }

    

    @media all and (min-width: 500px) {
        .wrapper {
          display: flex;
        } 
      }
   }